<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Админка</title>
	<link rel="stylesheet" href="../css/admin.css">
</head>
<body>
	<header class="site-header">
		<h1 class="myclass">Панель Администрирования</h1>
		<nav class="header-menu">
			<ul>
				<li><a href="../index.html">Вернуться на сайт</a></li>
			</ul>
		</nav>
	</header>

		<nav class="mane-menu">
			<ul>
				<li><a href="admin1.html">О себе</a></li>
				<li><a href="admin2.html">Мои работы</a></li>
				<li><a href="admin3.php">Блог</a></li>
			</ul>
		</nav>

		<div class="mane">
			<h1 class="myclass1">О себе</h1>
		</div>

		<footer class="site-footer">
			<div class="company">© 2018 JA. Все права защищены.</div>
		</footer>
	
</body>
</html>